@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home controller index</h2>

<h3>Dynamic news</h3>

<section>
</section>

<script type="text/javascript">

    function NewsReader() {
    }

    function StartNewsReader(interval) {
        setInterval(NewsReader(), interval);
    }

    function StopNewsReader() {
        setInterval(NewsReader(), 0);
    }

</script>
